<section class="hero-banner">
  <div class="hero-image" style="background-image: url({{ section.settings.background_image | image_url: width: 1440 }}); background-size: cover; background-position: center; height: 390px;">
  </div>
</section>

{% schema %}
{
  "name": "Hero Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    }
  ],
  "presets": [
    {
      "name": "Hero Banner"
    }
  ]
}
{% endschema %}
